<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/1.jpg" alt="card-img" width="200px" height="200px">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Justice and Prejudice
                </h5>

                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestias!
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>

            </div>
        </div>

    </div>
</div>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/2.jpg" alt="card-img" width="200px" height="200px">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Hungar Games
                </h5>

                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestias!
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>

            </div>
        </div>

    </div>
</div>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/3.jpg" alt="card-img" width="200px" height="200px">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Social Network
                </h5>

                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestias!
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>

            </div>
        </div>

    </div>
</div>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/4.jpg" alt="card-img" width="200px" height="200px">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Lara Croft Tomb Raider
                </h5>

                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestias!
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>

            </div>
        </div>

    </div>
</div>